{% extends 'base.html' %}

{% block content %}

     <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="card mb-3" >
                  <div class="card-body text-center pt-5">
                    <img src="../static/check.png" class="mb-3" width="65" alt="">
                    <h3 class="card-title mt-4 mb-2">Отправлено!</h3>
                    <p>Скоро мы вам перезвоним</p>
                  </div>

                   <hr/>

                   <div class="card-body mx-5">
                      <p><b>Тема:</b> Пробный урок</p>
                     <p><b>Дата:</b> Вторник, 12:00</p>
                     <p><b>Имя:</b> Александр</p>
                     <p><b>Телефон:</b> +7 944 322 22 11</p>
                   </div>
            </div>
        </div>
     </div>

{% endblock content %}
